.ul {
  display: flex;
  justify-content: space-between;
}
.nav > ul {
  padding: 0px;
}
.li {
  display: flex;
  padding: 10px 10px;
}
.active {
  border-bottom: 3px ridge currentColor;
}
.a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
